<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Checklist Online</h3>
</div>
<div class="modal-body">
    <h1>John Doe</h1>
    <h2>Progression</h2>
    <div class="progress progress-striped active">
  <div class="bar" style="width: 40%;"></div>
</div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Retour</button>
     <div class="btn-group">
        <button class="btn btn-medium btn-primary">Générer</button>
        <button class="btn dropdown-toggle btn-medium btn-primary" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">PDF</a></li>
            <li><a href="#">DOC</a></li>
            <li><a href="#">CSV</a></li>
        </ul>
    </div>
</div>