<!DOCTYPE html>
<html>
  <head>
  	{% block head %}
    <title>{% block title %}{% endblock %} Workflow GAS - WIP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="css/datepicker.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
	{% endblock %}
  </head>
  <body>
    <div class="container-fluid">
    <div class="row-fluid" id="header">
      <div class="span12 page-header">
        <h1>GAS <small>for CLS only.</small></h1>
      </div>
    </div>
    <div class="row-fluid" id="content">
      <div class="span12">
	  {% block search_menu %}	
        <div class="row-fluid" id="search-overview-gas">
          <div class="span2">
            <div class="btn-group">
              <button class="btn"><i class="icon-forward"></i></button>
              <button class="btn"><i class="icon-backward"></i></button>
              <button class="btn"><i class="icon-retweet"></i></button>
              <button class="btn"><i class="icon-resize-horizontal"></i></button>
              <button class="btn"><i class="icon-time"></i></button>
            </div>
          </div>
          <div class="span8 input-append">
            <div class="row-fluid">
            <input class="span4" id="appendedInputButton" type="text" placeholder="Par nom ...">
            <button class="btn" type="button">Rechercher</button>
            </div>
          </div>
		  
          <div class="span2">
            <div class="btn-group">
				
              <button class="btn btn-large refresh">Rafraichir</button>
              <button class="btn btn-large btn-primary">Créer</button>
              <button class="btn dropdown-toggle btn-large btn-primary" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="../tpl/modals/arrivee.twig" data-target="#" data-toggle="modal"><i class="icon-forward"></i> Arrivée</a></li>
                <li><a href="../tpl/modals/depart.twig" data-target="#" data-toggle="modal"><i class="icon-backward"></i> Départ</a></li>
                <li><a href="../tpl/modals/mobilite.twig" data-target="#" data-toggle="modal"><i class="icon-retweet"></i> Mobilité</a></li>
                <li><a href="../tpl/modals/prolongation.twig" data-target="#" data-toggle="modal"><i class="icon-resize-horizontal"></i> Prolongation</a></li>
                <li><a href="../tpl/modals/absence.twig" data-target="#" data-toggle="modal"><i class="icon-time"></i> Absence</a></li>
              </ul>
            </div>
          </div>
        </div>
		{% endblock %}
        <div class="row-fluid" id="table-overview-gas">
          <div class="span12">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>Nom</th>
                  <th>Département</th>
                  <th>Tâche</th>
                  <th>Dernière modification</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="listContent">
				{% block table_overview %}
				{% endblock %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <div class="pagination pagination-centered">
              <ul>
                <li><a class="pag">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
   </div>
    </div>
    <div id="displayModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	</div>
    <div id="errorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="alert alert-block alert-error" data-alert="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h3 id="alert-heading">Êtes vous sur ? <small>Cette action est définitive.</small></h3>
        <button class="btn avoid-deleted-row" data-dismiss="modal" aria-hidden="true">Annuler</button>
        <button class="btn btn-danger delete-row">Supprimer</button>
      </div>
    </div>

    <script src="js/jquery.tmp.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/appEngine.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
